@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Jua&display=swap');

body {
    background: linear-gradient(#05FBFF, #1D62F0) fixed;
    color: white;
    text-align: center;
}

.header {
    margin-top: 20vh;
}

.title {
    margin-bottom: -70px;
}

h1 {
    font-size: 80px;
    font-family: 'Balsamiq Sans', cursive;
}

h2 {
    font-size: 30px;
    font-family: 'Jua', sans-serif;
}

select {
    width: 330px;
    height: 30px;
    border: black;
    background: url('arrow.png') no-repeat 95% 50%;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}